@{
    ViewData["Title"] = "Strories";
}



    <a asp-action="Create" class="plusLink">
    <div class="createPlus">
        +
    </div>
        </a>

<div class="container">
    <div class="search-sort-bar">
        <div class="search-bar">
            <input type="text" placeholder="Search stories...">
        </div>
        <button class="search-button"><i class="fas fa-search"></i>Пошук</button>
    </div>

    <div class="cards">
        <div class="card-main">
            <div class="card-title">My Funny Story</div>
            <hr class="card-line">
            <div class="card-description">
                <p class="card-text">
                    Test text for my pet project. I hope that it will be good project.
                    Test text for my pet project. I hope that it will be good project.
                    Test text for my pet project. I hope that it will be good project.
                    Test text for my pet project. I hope that it will be good project.<a asp-action="Detail" id="morelink"> more...</a>
                </p>
            </div>
            <hr class="card-line">
            <div class="card-foot">
                <div class="card-datetime">11.05 16:08</div>
                <div class="card-author">
                    <a asp-controller="Auth" asp-action="UserInfo" id="userlink">@@adminihor21</a>
                </div>
            </div>
        </div>
    </div>
</div>



<script src="https://kit.fontawesome.com/a076d05399.js" crossorigin="anonymous"></script>