<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<title>@ViewData["Title"] - StoryBook</title>
	<link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
	<link rel="stylesheet" href="~/StoryBook.styles.css" asp-append-version="true" />
	<link rel="preconnect" href="https://fonts.googleapis.com">
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
	<link href="https://fonts.googleapis.com/css2?family=Freeman&family=Poetsen+One&display=swap" rel="stylesheet">
</head>
<body>
	<header>
		<div class="navbar">
			<div class="logo"><a asp-controller="Story" asp-action="Index">StoryBook</a></div>
			<div>
				<a asp-controller="Auth" asp-action="Login">Login</a>
				<a asp-controller="Auth" asp-action="Register">Register</a>
			</div>
		</div>
	</header>
	@RenderBody()

	<footer>
		<p>© 2024 BookStory. All rights reserved. | Contact: info@bookstory.com</p>
	</footer>

	<script src="~/lib/jquery/dist/jquery.min.js"></script>
	<script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
	<script src="~/js/site.js" asp-append-version="true"></script>
	@await RenderSectionAsync("Scripts", required: false)
</body>
</html>
